* {
  margin: 0;
  box-sizing: border-box;
}

#app {
  position: absolute;
  z-index: 10;
  background-color: white;
  display: grid;
  grid-template-areas:
    "head head head"
    "input input input"
    "recipe recipe sidebar"
    "foot foot foot";
}

/* Header - Start */

.header {
  grid-area: head;
  display: flex;
  padding-top: 30px;
  justify-content: space-around;
  height: 90px;
  border-bottom: 2px solid black;
  #pageTitle {
    width: 52vw;
    text-align: end;
  }
  .nav {
    text-decoration: none;
    display: flex;
    list-style-type: none;
    font-size: 1.5em;
    width: 48vw;
    justify-content: end;
    li {
      margin-right: 100px;
      transition: scale 0.5s ease-in-out;
      &:hover {
        scale: 120%;
        text-decoration: underline;
      }
    }
  }
}

/* Header - End */

/* Input Section - Start */
#inputSection {
  grid-area: input;
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  border-bottom: 2px solid black;
  padding: 0 10vw 0 10vw;

  h2 {
    font-size: 1.2em;
    grid-row: 1;
    text-align: center;
    margin-bottom: 20px;
  }
  input {
    grid-row: 2;
    width: 80%;
    justify-self: center;
    height: 30px;
    border-radius: 20px;
    margin-bottom: 20px;
    padding-left: 15px;
    font-size: large;
  }
  button {
    grid-row: 3;
    justify-self: center;
    width: 20%;
    height: 25px;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  #finderLabel {
    padding: 10px;
  }
  #generatorLabel {
    grid-column: 3;
    padding: 10px;
  }
  #generatorInput {
    grid-column: 3;
  }
  #generatorButton {
    grid-column: 3;
  }
  #compareAll {
    grid-column: 2;
    grid-row: 3;
    width: 80%;
    height: 40px;
    margin: 0;
  }
  #compareCounter {
    grid-column: 2;
    grid-row: 4;
    text-align: center;
    margin-bottom: 10px;
  }
}
/* Input Section - End */

/* Recipe Section - Start */

#recipeSection {
  grid-area: recipe;
  height: 500px;
  width: 80vw;
  overflow-y: auto;
  .recipeBox {
    border-bottom: 1px solid black;
    padding: 20px 15vw 20px 15vw;
    display: grid;
    grid-template-columns: 400px 400px 200px;
    grid-template-rows: 70px 40px auto auto auto auto;
    grid-template-areas:
      "title title ."
      "time por diff"
      "img ingr ."
      "img ingr print"
      "img ingr ."
      "source ingr .";
  }
  .recipeTitle {
    grid-area: title;
    font-size: 2em;
    text-align: center;
  }
  .recipeImage {
    grid-area: img;
    width: 350px;
    height: 250px;
    border-radius: 8px;
  }
  .recipeSource {
    grid-area: source;
  }
  .recipeDifficulty {
    grid-area: diff;
  }
  .recipePortions {
    grid-area: por;
  }
  .recipeTime {
    grid-area: time;
  }
  .allIngredients {
    grid-area: ingr;
  }
  .printButton {
    grid-area: print;
    width: 50px;
    height: 50px;
  }
  .shareButton {
    grid-area: print;
    width: 50px;
    height: 50px;
    margin-top: 55px;
  }
  .saveButton {
    grid-area: print;
    width: 50px;
    height: 50px;
    margin-top: 110px;
  }
  .compareButton {
    grid-area: print;
    width: 80px;
    height: 30px;
    margin-top: 165px;
    font-size: 0.7em;
  }
}
.compare {
  background-color: rgba(211, 211, 211, 0.7);
}

/* Recipe Section - End */

#recipeSidebar {
  grid-area: sidebar;
  width: 20vw;
  padding: 10px 10% 10px 10%;
  #sidebarTitle {
    margin: 10px 0 20px 0;
  }
  .savedRecipeBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin-bottom: 20px;
    .savedTitle {
      grid-column: 2;
      grid-row: 1;
      font-size: 1.2em;
      text-decoration: none;
      color: black;
      align-self: center;
    }
    .savedImage {
      grid-column: 1;
      grid-row: 1 / 3;
      width: 120px;
      height: 100px;
      border-radius: 8px;
    }
    .removeButton {
      grid-column: 2;
      grid-row: 2;
      width: 25px;
      height: 25px;
      font-weight: bold;
      margin-left: 5px;
      text-align: center;
    }
  }
}
.hidden {
  display: none;
}

/* Footer - Start */
.footer {
  grid-area: foot;
  border-top: 2px solid black;
  padding-top: 35px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  .terms {
    margin-left: 150px;
    a {
      text-decoration: none;
      margin-right: 30px;
    }
  }
  .socialmedia {
    margin-right: 150px;
    a {
      text-decoration: none;
      margin-left: 30px;
      scale: 150px;
    }
    i {
      scale: 150%;
    }
  }
}
/* Footer - End */

/* Compare Window - Start */

#compareWindowOuter {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 25vh 10vw 0 10vw;
  #compareWindowInner {
    min-height: 50vh;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-items: center;
    .recipeBox {
      background-color: green;
    }
    img {
      width: 250px;
      height: 150px;
    }
  }
}

/* Compare Window - End */
