* {
  margin: 0;
  box-sizing: border-box;
}

/* Header - Start */

.header {
  display: flex;
  padding-top: 30px;
  justify-content: space-around;
  height: 90px;
  border-bottom: 2px solid black;
  #pageTitle {
    width: 52vw;
    text-align: end;
  }
  .nav {
    text-decoration: none;
    display: flex;
    list-style-type: none;
    font-size: 1.5em;
    width: 48vw;
    justify-content: end;
    li {
      margin-right: 100px;
      transition: scale 0.5s ease-in-out;
      &:hover {
        scale: 120%;
        text-decoration: underline;
      }
    }
  }
}

/* Header - End */

/* Input Section - Start */
#inputSection {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  border-bottom: 2px solid black;
  padding: 0 10vw 0 10vw;

  h2 {
    font-size: 1.2em;
    grid-row: 1;
    text-align: center;
    margin-bottom: 20px;
  }
  input {
    grid-row: 2;
    width: 80%;
    justify-self: center;
    height: 30px;
    border-radius: 20px;
    margin-bottom: 20px;
    padding-left: 15px;
    font-size: large;
  }
  button {
    grid-row: 3;
    justify-self: center;
    width: 20%;
    height: 25px;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  #finderLabel {
    padding: 10px;
  }
  #generatorLabel {
    grid-column: 3;
    padding: 10px;
  }
  #generatorInput {
    grid-column: 3;
  }
  #generatorButton {
    grid-column: 3;
  }
}
/* Input Section - End */

/* Recipe Section - Start */

#recipeSection {
  height: 470px;
  overflow: scroll;
  .recipeBox {
    border-bottom: 1px solid black;
    display: grid;
    grid-template-areas:
      "img title"
      "img source"
      "img ingr"
      "diff ingr"
      "por ingr"
      "time ingr";
  }
  .recipeTitle {
    grid-area: title;
  }
  .recipeImage {
    grid-area: img;
    width: 200px;
    height: 200px;
  }
  .recipeSource {
    grid-area: source;
  }
  .recipeDifficulty {
    grid-area: diff;
  }
  .recipeTime {
    grid-area: time;
  }
  .allIngredients {
    grid-area: ingr;
  }
}

/* Recipe Section - End */

/* Footer - Start */
.footer {
  border-top: 2px solid black;
  padding-top: 35px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  .terms {
    margin-left: 150px;
    a {
      text-decoration: none;
      margin-right: 30px;
    }
  }
  .socialmedia {
    margin-right: 150px;
    a {
      text-decoration: none;
      margin-left: 30px;
      scale: 150px;
    }
    i {
      scale: 150%;
    }
  }
}
/* Footer - End */
